In [1]:
import pandas as pd

# importing the data

In [2]:
#a.1
dataframe = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")
dataframe.head(10)
target_col='Churn'

# understanding the dataset

In [3]:
#a.2
dataframe.shape

(7043, 21)

In [4]:
dataframe.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
#a.3
dataframe.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

# finding the missing value

In [6]:
#a.4
dataframe.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [7]:
#a.5
dataframe.duplicated().sum()

0

In [8]:
dataframe.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
#dataframe.duplicated(keep=False) # show all duplicated row indexes

dataframe[dataframe.duplicated(keep=False)]

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

# Data cleaning:

In [10]:
#b.1
# handle the null values with the mean of the column
# Exclude the column 'column_to_exclude'
excluded_column = dataframe[target_col]

# Drop the column and fill NaN values with the mean for the remaining columns
dataframe.drop(columns=[target_col], inplace=True)
for column in dataframe.columns:
    if dataframe[column].dtype == 'object':
        dataframe[column].fillna(dataframe[column].mode()[0], inplace=True)
    else:
        dataframe[column].fillna(dataframe[column].mean(), inplace=True)

# Add the excluded column back to the dataframe
dataframe[target_col] = excluded_column

In [11]:
dataframe.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [12]:
#b.2
dataframe.drop_duplicates(inplace=True)
dataframe

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [13]:
#b.3
dataframe.dropna(subset=[target_col], inplace=True)

# Creation of input and output features:

In [14]:
#c.1

Features = dataframe.drop(target_col, axis=1)# 1 for column, 0 for row
Labels = dataframe[target_col]

In [15]:
Features

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5

In [16]:
Labels

0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7043, dtype: object

# Conversion of features into numeric values:

In [17]:
#d.1
from sklearn.preprocessing import LabelEncoder

distinct_values_count = dataframe[target_col].nunique()

if distinct_values_count == 2:
    encoder = LabelEncoder()
    Labels = encoder.fit_transform(Labels)
    # Labels = pd.DataFrame(Labels, columns=[target_col])
else:
    Labels = pd.get_dummies(Labels, columns=[target_col])


Labels#it is in array format
#better approach

array([0, 0, 1, ..., 0, 1, 0])

In [18]:
Features.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
dtype: object

In [19]:
#d.2
#catagorical_cols = [col for col in Features.columns if Features[col].dtype == 'object']
# Features= pd.get_dummies(Features, columns=catagorical_cols)

catagorical_cols = []
boolean_cols = []

for col in Features.columns:
    if Features[col].nunique()==2:
        boolean_cols.append(col)
        encoder = LabelEncoder()
        Features[col] = encoder.fit_transform(Features[col])# not sure about this line 
    else:
        if Features[col].dtype == 'object':
            # Features[col] = pd.get_dummies(Features[col], columns=[col])
            catagorical_cols.append(col)
            Features[col] = Features[col].astype('category')

print(catagorical_cols)
print(boolean_cols)

['customerID', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod', 'TotalCharges']
['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'PaperlessBilling']

In [20]:

Features

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,0,0,1,0,1,0,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,1,Electronic check,29.85,29.85
1,5575-GNVDE,1,0,0,0,34,1,No,DSL,Yes,No,Yes,No,No,No,One year,0,Mailed check,56.95,1889.5
2,3668-QPYBK,1,0,0,0,2,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,1,Mailed check,53.85,108.15
3,7795-CFOCW,1,0,0,0,45,0,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,0,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,0,0,0,0,2,1,No,Fiber optic,No,No,No,No,No,No,Month-to-month,1,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,1,0,1,1,24,1,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,1,Mailed check,84.80,1990.5
7039,2234-XADUH,0,0,1,1,72,1,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,1,Credit card (automatic),103.20,7362.9
7040,4801-JZAZL,0,0,1,1,11,0,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,1,Electronic check,29.60,346.45
7041,8361-LTMKD,1,1,1,0,4,1,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,1,Mailed check,74.40,306.6
7042,3186-AJIEK,1,0,0,0,66,1,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,1,Bank transfer (automatic),105.65,6844.5

In [21]:

#one hot encoding
Features = pd.get_dummies(Features, columns=catagorical_cols)
Features

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,customerID_0002-ORFBO,customerID_0003-MKNFE,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,0,0,1,0,1,0,1,29.85,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,0,0,0,34,1,0,56.95,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,0,0,0,2,1,1,53.85,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,0,0,0,45,0,0,42.30,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,0,0,0,2,1,1,70.70,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,1,84.80,False,False,...,False,False,False,False,False,False,False,False,False,False
7039,0,0,1,1,72,1,1,103.20,False,False,...,False,False,False,False,False,False,False,False,False,False
7040,0,0,1,1,11,0,1,29.60,False,False,...,False,False,False,False,False,False,False,False,False,False
7041,1,1,1,0,4,1,1,74.40,False,False,...,False,False,False,False,False,False,False,False,False,False
7042,1,0,0,0,66,1,1,105.65,False,False,...,False,False,False,False,False,False,False,False,False,False

# Scaling of the features

In [22]:
#e
# there is a problem with the data info that while prediction it may give more 
# importance to the larger value of the target column
# we generally scale the features we dont scale the target column
#min-max scaling

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler


scaling_cols = Features.columns.difference(catagorical_cols)
scaling_cols = scaling_cols.difference(boolean_cols)

def scale_min_max_features(Features):
    scaler = MinMaxScaler()
    for col in scaling_cols:
        Features[col] = scaler.fit_transform(Features[[col]])

def scale_standard_features(Features):
    scaler = StandardScaler()
    for col in scaling_cols:
        Features[col] = scaler.fit_transform(Features[[col]])

# i have to exclude one hot encoded columns from the scaling

scale_min_max_features(Features)
# scale_standard_features(Features)

Features

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,customerID_0002-ORFBO,customerID_0003-MKNFE,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
0,0,0,1,0,0.013889,0,1,0.115423,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,0,0,0.472222,1,0,0.385075,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,0,0,0.027778,1,1,0.354229,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0,0,0,0.625000,0,0,0.239303,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0.027778,1,1,0.521891,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,0.333333,1,1,0.662189,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7039,0,0,1,1,1.000000,1,1,0.845274,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7040,0,0,1,1,0.152778,0,1,0.112935,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7041,1,1,1,0,0.055556,1,1,0.558706,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7042,1,0,0,0,0.916667,1,1,0.869652,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# corelaiton scaling

In [23]:
#f.1
# correlation analysis of features with target
label_series = Labels[target_col]
correlations = Features.corrwith(label_series).abs()
correlations

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
Features_with_label = Features.copy()
Features_with_label[target_col] = label_series

correlation_matrix = Features_with_label.corr().abs()

correlation_matrix

MemoryError: Unable to allocate 1.38 GiB for an array with shape (13614, 13614) and data type float64

In [ ]:
top_20_correlations = correlations.sort_values(ascending=False).head(20)

for col in top_20_correlations.index:
    print(f'{col} : {top_20_correlations[col]}')

OverTime : 0.24611799424580422
MaritalStatus_Single : 0.17541855360921876
TotalWorkingYears : 0.1710632461362263
JobLevel : 0.16910475093102656
YearsInCurrentRole : 0.16054500426770069
MonthlyIncome : 0.1598395823849885
Age : 0.1592050068657794
JobRole_Sales Representative : 0.157234270114793
YearsWithCurrManager : 0.1561993159016281
StockOptionLevel : 0.13714491893332548
YearsAtCompany : 0.1343922139899771
JobInvolvement : 0.13001595678605357
BusinessTravel_Travel_Frequently : 0.11514276554505076
JobSatisfaction : 0.10348112606902118
EnvironmentSatisfaction : 0.10336897833793594
JobRole_Laboratory Technician : 0.09829048545960258
MaritalStatus_Married : 0.09098365120728223
JobRole_Research Director : 0.08886984174978102
MaritalStatus_Divorced : 0.08771634588934206
Department_Research & Development : 0.0852929275767967

In [ ]:
top_20_columns = top_20_correlations.index.tolist()

# Display the column names
top_20_columns

['OverTime',
 'MaritalStatus_Single',
 'TotalWorkingYears',
 'JobLevel',
 'YearsInCurrentRole',
 'MonthlyIncome',
 'Age',
 'JobRole_Sales Representative',
 'YearsWithCurrManager',
 'StockOptionLevel',
 'YearsAtCompany',
 'JobInvolvement',
 'BusinessTravel_Travel_Frequently',
 'JobSatisfaction',
 'EnvironmentSatisfaction',
 'JobRole_Laboratory Technician',
 'MaritalStatus_Married',
 'JobRole_Research Director',
 'MaritalStatus_Divorced',
 'Department_Research & Development']

# 1D scatter plot

In [ ]:
# import matplotlib.pyplot as plt
# import numpy as np 

# # Separate the data based on numeric labels
# class_0 = Features.loc[Labels[target_col] == 0]
# class_1 = Features.loc[Labels[target_col] == 1]


# def draw_plot(col_name, x_min=None, x_max=None):
#     # Create a 1D scatter plot for sepal_width with numeric labels
#     plt.plot(class_0[col_name], np.zeros_like(class_0[col_name]), 'o', label='Class No')
#     plt.plot(class_1[col_name], np.zeros_like(class_1[col_name]), 'o', label='Class Yes')

#     if x_min is not None and x_max is not None:
#         plt.xlim(x_min, x_max)

#     plt.legend()
#     plt.xlabel(col_name)
#     plt.title('1D Scatter Plot of '+col_name+' by Numeric Classes')
#     plt.show()

# for col in top_20_columns:  
#     draw_plot(col,x_min=-1.5, x_max=1.5)

In [ ]:
# # g.1
# # create a simple classifier
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score

# # Split the data
# X_train, X_test, y_train, y_test = train_test_split(Features, Labels, test_size=0.1, random_state=42)

# # Convert y_train and y_test to 1D arrays
# y_train = y_train.values.ravel()
# y_test = y_test.values.ravel()

# # Create and train the model
# model = LogisticRegression()
# model.fit(X_train, y_train)

# # Make predictions
# y_pred = model.predict(X_test)

# # Calculate accuracy
# accuracy = accuracy_score(y_test, y_pred)
# accuracy